@model GraduationProject.Models.Brand

<div class="modal-body">
    <form data-ajax-url="/Admin/Brands/Create" method="post" id="createForms" data-ajax="true" data-ajax-complete="Complated" data-ajax-method="post">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Brands</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">Brand Name</label>
                    <input asp-for="Name" placeholder="Brand Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


            </div>
        </div>

        <div class="modal-footer">
            <input type="submit" id="submitform" value="Create" class="btn btn-primary" />

        </div>
    </form>


</div>