@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="Logoicon.ico">
    <title>Hardware Shed</title>
    <link rel="stylesheet" href="~/client/css/style.css" />
    <link rel="stylesheet" href="~/client/css/responsive.css" />
    <link rel="stylesheet" href="~/client/css/bootstrap.css" />
    <link rel="stylesheet" href="~/client/vendors/linericon/style.css" />
    <link rel="stylesheet" href="~/client/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/client/css/themify-icons.css" />
    <link rel="stylesheet" href="~/client/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/client/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="~/client/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="~/client/vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="~/client/vendors/jquery-ui/jquery-ui.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/client/css/flaticon.css" />
   
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170069808-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-170069808-1');
    </script>



</head>
<body>


    <app-root></app-root>

    <script src="~/client/js/jquery-3.2.1.min.js"></script>
    <script src="~/client/js/popper.js"></script>
    <script src="~/client/js/bootstrap.min.js"></script>
    <script src="~/client/js/stellar.js"></script>
    <script src="~/client/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/client/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/client/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/client/vendors/isotope/isotope-min.js"></script>
    <script src="~/client/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/client/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/client/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/client/vendors/counter-up/jquery.counterup.js"></script>
    <script src="~/client/js/mail-script.js"></script>
    <script src="~/client/js/theme.js"></script>
    <script src="~/client/js/custom.js"></script>


    <script src="~/clientapp/runtime.js"></script>
    <script src="~/clientapp/polyfills.js"></script>
    <script src="~/clientapp/styles.js"></script>
    <script src="~/clientapp/vendor.js"></script>
    <script src="~/clientapp/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GWYB3RNLYX"></script>
 
</body>
</html>
