
<mat-progress-bar mode="indeterminate" *ngIf="this.review == null"></mat-progress-bar>

<mat-card>
    <mat-card-title>  <h2 class="margin-bottom-10 font-title font-b text-center font-animation">User Reviews</h2></mat-card-title>
  <mat-card class="mt-2" *ngFor="let item of this.review">
    <mat-card-title class="d-flex">
      <ngx-avatar [name]="item.userReviewName" [size]="50"></ngx-avatar>    <a [routerLink]="['/profile',item.userReviewID]">{{item.userReviewName}}</a>
    </mat-card-title>
    <mat-card-content>
        <p>
        {{item.review}}
        </p>
      </mat-card-content>
    </mat-card>
    <div class="mt-2" *ngIf="this.review?.length ==0">
        <p class="text-center">This user doesn't have any reviews yet.</p>
    </div>
  
</mat-card>