<!-- @format -->

<ng-template #loaded>
	<div class="row" *ngIf="ProductsInfo.length > 0">
		<div class="col-md-4" *ngFor="let item of ProductsInfo">
			<app-product-card
				[Link]="'/buyer'"
				[productInfo]="item"
				[clickable]="item.userId == UserService.CurrentUserId()"
				[ShowLike]="false"
				[IsLike]="false"
				(Onlike)="Example($event)"
			></app-product-card>
		</div>
	</div>
	<div class="d-block" *ngIf="ProductsInfo.length <= 0">
		<p class="text-center">No Product Found.</p>
	</div>
</ng-template>

<ng-template #notloaded>
	<div class="d-flex-spinner">
		<mat-spinner></mat-spinner>
	</div>
</ng-template>
<mat-card>
	<mat-card-title>
		<h2 class="font-title font-b text-center font-animation">User Products</h2>
	</mat-card-title>
	<mat-card-content>
		<ng-template *ngIf="ProductsInfo != null; then loaded; else notloaded">
		</ng-template>
	</mat-card-content>
</mat-card>
