<section class="cat_product_area p-5">
    <div class="container container-height">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
                <div class="input-group-append">
                    <button class="btn" type="button">
                        <i class="ti-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <!--<div class="col-lg-1">
            </div>-->
            <div class="col-lg-9">
                <div class="latest_product_inner">
                    <div class="row">
                        <ng-container *ngFor="let p of products | filter:term">
                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img" [src]="'/images/'+p.userProductImages[0].images"
                                            alt="product image" />
                                        <div class="p_icon">
                                            <a [routerLink]="['/product/Details', p.id]">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a [ngClass]="{'clickable':true,'link-color':this.WishlistService.IsExist(p)}"
                                                (click)="AddToWishList(p)">
                                                <i class="ti-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-btm">
                                        <div class="d-block">
                                            <h4>{{p.name}}</h4>
                                        </div>
                                        <div class="mt-3">
                                            <span class="mr-4">{{p.price}} EGP</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!--====================================Filtration===============================-->
            <div class="col-lg-3">
                <app-category-filter (filterproducts)="filterProductList($event)"> </app-category-filter>
              
            </div>
        </div>
    </div>
</section>