@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.header-font
{
    font-family:"Raleway";
}
.control-item-100 {
    width: 100%;
}
.button-full-width{
    width: 100%;
}
.mt-5{
    margin-top: 5rem;
}
@media screen and (max-width:60rem){
    .mt-5{
        margin-top: 5rem;
    }
}
.imageCenter{
    width: 50%;
    margin: auto;
    display: inline-block;
}
.flex-container{
    display: flex;
    justify-content: center;

}
.link-pointer{
    text-align: center;
    cursor: pointer;
    display: block;
}