<section class="container mt-5 container-height">
    <div class="row justify-content-center">

        <div class="col-md-4 col-md-offset-4">
            <mat-card class="example-card">
                <div class="flex-container">
                    <img src="../../../../../ClientApp/assets/images/forgot2.png" class="imageCenter" />
                </div>
                <h5 class="text-center header-font">Enter your Email address Below and we will send you password reset
                    instructions.</h5>

                <form #ResetPassword="ngForm">
                    <mat-form-field class="example-full-width" class="control-item-100">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" ngModel name="email" class="control-item-100" required
                            #email="ngModel" />
                        <mat-error *ngIf="email.touched && email.invalid">
                            <mat-error *ngIf="email.errors.required">
                                Please Write your Email
                            </mat-error>

                        </mat-error>
                    </mat-form-field>

                    <br />

                    <div class="form-group">
                        <button (click)="OnSubmit(ResetPassword)" mat-button class="button-full-width" mat-flat-button
                            color="primary" [disabled]="ResetPassword.invalid" routerLink="/EmailSent">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Send Email </button>
                        </div>
                        
                    </form>

                <div>
                    <button mat-button class="button-full-width" mat-flat-button color="secondary"
                        routerLink="/Login">Back</button>
                </div>
            </mat-card>
        </div>
    </div>
</section>