<section class="home_banner_area container-height " style="margin-bottom:-50px;">
    <div class="banner_inner  d-flex align-items-end">
      <div class="container align-items-center min-height-override">
        <div class="banner_content row min-height-override">
          <div class="col-lg-12 align-items-end">
            <p class="sub text-uppercase">Hardware Shed</p>
            <h3><span>Low</span> Cost <br />High <span>Performance</span></h3>
            <h4>Buy the best hardware, With the lowest prices.</h4>
            <button class="main_btn mt-40" [routerLink]="['/product/ListProduct']" >Browse Collection</button>
            <button class="main_btn mt-40 margin-left-md" [routerLink]="['/AddProduct']">List Your Own.</button>
          </div>
        </div>
      </div>
    </div>
  </section>
