<mat-card class="container mt-2">
    <h2 class="font-title font-b text-center font-animation">Purchased Products</h2>

    <ng-template *ngIf="this.buyersReview.length ==0 then title  else table">

    </ng-template>
    <ng-template #table>
        <table class="table" *ngFor="let item of this.buyersReview">
            <tr>
                <th>Product</th>
                <th>Seller</th>
                <th>Price</th>
                <th>Status</th>
                <th></th>
            </tr>
            <tr>
                <td>{{item.productName}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.price}} EGP</td>
                <td>Sale Confirmed</td>
                <td>
                    <button class="btn btn-success" *ngIf="!item.isReviewed" (click)="ReviewNow(item.userId,item.userName,item.productId)">
                        Leave Feedback on Seller</button>
                </td>
            </tr>
        </table>
    </ng-template>


</mat-card>

<ng-template #title>
    <p class="text-center">No Products Purchased Yet.</p>
</ng-template>