<div class="container-middle">
<mat-card>
    <mat-card-content>
    <h2 class="title text-center">Review</h2>
    <h3 class="text-center">{{data.userName}}</h3>
   
        <div class="d-flex form-group">
            <mat-form-field class="full-width">
                <mat-label>Review</mat-label>
                <textarea [(ngModel)]="description" matInput class="full-width" placeholder=""></textarea>
              </mat-form-field>
        </div>

        <h2 class="title text-center">Rating</h2>
        <div class="d-flex">
           <app-rating [IsMod]="true" [size]="23" (Onelement)="DefaultElement($event)"></app-rating>
        </div>
    <div class="d-flex">
        <button (click)="ReviewUser()" mat-flat-button color="primary" class="mr-2" [disabled]="review ==null" >Review</button>
        <button (click)="Close()" mat-flat-button color="primary"  class="mr-2">Close</button>
    </div>
   </mat-card-content>
</mat-card>

</div>
